
#
# NetStress Configuration ---
#

#
# ---------------------------
#

#
# Select your attacks
#
CONFIG_SYN_FLOOD=y
CONFIG_ISSSYN_FLOOD=y
CONFIG_FIN_FLOOD=y
CONFIG_ACK_FLOOD=y
CONFIG_PUSH_FLOOD=y
CONFIG_UDP_FLOOD=y
CONFIG_IGMP_FLOOD=y
CONFIG_WIN98_FLOOD=y
CONFIG_WINBOMB_FLOOD=y
CONFIG_HTTP_GET_FLOOD=y
CONFIG_HTTP_POST_FLOOD=y
CONFIG_SYNCOOK_FLOOD=y
CONFIG_DNS_FLOOD=y
CONFIG_AMPDNS_FLOOD=y
# CONFIG_STATIC_SRC_IP is not set
CONFIG_RANDOM_SRC_IP=y
# CONFIG_PATTERN_SRC_IP is not set
# CONFIG_RANDOM_COUNTRY_SRC_IP is not set
# CONFIG_RANDOM_SRC_PORT is not set
# CONFIG_RANDOM_DST_PORT is not set

#
# HTTP GET Flood Related Settings
#
CONFIG_HTTP_GET_HOST="127.0.0.1:80"
CONFIG_RANDOM_URL=y

#
# End of HTTP GET Flood Settings
#
